@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap");
body {
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#root {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  grid-gap: 3rem;
}
.addnewcontactheading {
  margin: -5px auto 10px auto;
}
h3 {
  color: #5c415d;
  margin: 5px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: inline;
}
li,
strong {
  color: #00fff5;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
button,
.searchbutton,
.addbutton {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: #5c415d;
  color: #e9eeee;
  border-style: none;
  border-radius: 10px;
}
.Addnew {
  display: grid;
  margin: 1px auto;
  padding: 15px 15px;
  border-style: solid;
  border-color: #ff6978;
  border-width: 1.5px;
}
.searchbutton {
  margin-left: 2px;
}
.addbutton {
  max-width: 100px;
  margin: 5px auto;
}
.showAll {
  margin: auto;
}
