@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap");

html {
  height: 100%;
}
body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

#root {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  grid-gap: 4rem;
}
h1 {
  color: #522d53;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: -13px;
  margin-bottom: 6px;
  text-align: center;
}
.Searchbar {
  margin-top: 1rem;
}
.addnewcontactheading {
  margin: -5px auto 10px auto;
}
h3 {
  color: #522d53;
  margin: 5px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: inline;
}
li,
strong {
  color: #00fff5;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
button,
.searchbutton,
.addbutton {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: #522d53;
  color: #e9eeee;
  border-style: none;
  border-radius: 10px;
}
.Addnew {
  display: grid;
  margin: 1px auto;
  padding: 15px 15px;
  border-style: solid;
  border-color: #915258;
  border-width: 1.5px;
}
.searchbutton {
  margin-left: 2px;
}
.addbutton {
  max-width: 100px;
  margin: 5px auto;
}
.showAll {
  margin: auto;
}
.footer {
  color: #e9eeee;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.icons {
  margin-right: 4px;
  color: #e9eeee;
}
.searchbutton,
.addbutton,
.showAll button {
  cursor: pointer;
}
